<div id="popup_root" v-on:click="handle_event( 'root_click' )">
    <div id="header">
        <div class="icon menu" style="margin-left: 17px" v-on:click="handle_event( 'menu_button_click' )">
            <svg viewBox="0 0 24 24">
                <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
            </svg>
        </div>
        <div style="flex-grow: 1"></div>
        <span>Snapper</span>
        <div style="flex-grow: 1"></div>
        <div class="icon close" style="margin-right: 15px; margin-left: 2px;" v-on:click="handle_event( 'close_button_click' )">
            <svg viewBox="0 0 24 24">
                <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
            </svg>
        </div>
        <div id="dropshadow"></div>
    </div>
    <div class="page_container">
        <div class="page progress" v-bind:class="{ active: model.active_page_name === 'progress' }">
            <img v-bind:src="model.root_url + '/common/img/progress.svg'">
        </div>
        <div class="page main" v-bind:class="{ active: model.active_page_name === 'main' }">
            <div class="button button-green" v-on:click="handle_event( 'collect' )" style="margin: 20px;">
                <div class="button-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z" />
                    </svg>
                </div>
                <span>Collect</span>
            </div>
            <div is="chromane_table" v-bind:model="model.table_model"></div>

        </div>
    </div>
    <div id="drawer_overlay" v-on:click="handle_event( 'drawer_overlay_click' )">
        <div id="drawer" v-on:click="handle_event( 'drawer_click', { event: $event } )">
            <div id="drawer_header">Snapper</div>
            <div class="drawer_item_container">
                <div class="drawer_item" v-on:click="handle_event( 'drawer_item_click', { item_name: 'log_out' } )" v-if="model.drawer_item_hash.log_out">
                    <svg class="drawer_item_icon" viewBox="0 0 24 24">
                        <path d="M14.08,15.59L16.67,13H7V11H16.67L14.08,8.41L15.5,7L20.5,12L15.5,17L14.08,15.59M19,3A2,2 0 0,1 21,5V9.67L19,7.67V5H5V19H19V16.33L21,14.33V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H19Z" />
                    </svg>
                    <span>Log out</span>
                </div>
                <div class="drawer_item" v-on:click="handle_event( 'drawer_item_click', { item_name: 'toggle_present_mode' } )" v-if="model.drawer_item_hash.toggle_present_mode">
                    <svg class="drawer_item_icon" viewBox="0 0 24 24">
                        <path d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z" />
                    </svg>
                    <span>Toggle present mode</span>
                </div>
                <div class="drawer_item" v-on:click="handle_event( 'drawer_item_click', { item_name: 'download_log' } )" v-if="model.drawer_item_hash.download_log">
                    <svg class="drawer_item_icon" viewBox="0 0 24 24">
                        <path d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" />
                    </svg>
                    <span>Download log</span>
                </div>
            </div>
        </div>
    </div>
</div>